1. Write a Python program to find sum of elements in list?

In [102]:
l = [12,32,4,5,234]
sum = 0
for i in l :
  sum = sum+i
print(sum)

287

2. Write a Python program to Multiply all numbers in the list?

In [103]:
l1 = [12,34,54,67,76]
mul = 1
for i in l1:
  mul = mul*i

print(mul)

112186944

3. Write a Python program to find smallest number in a list?

In [110]:
l = [23,34,6,78,456,7]
l.sort()
l[0]

6

4. Write a Python program to find largest number in a list?

In [112]:
l = [23,34,5,56,32]
l.sort()
l[-1]

56

5. Write a Python program to find second largest number in a list?

In [113]:
l = [12,34,54,44,88,33,45,6]
l.sort()
l[-2]

54

6. Write a Python program to find N largest elements from a list?

In [119]:
n =3 
l = [32,435,65,23,134,675,346,887,332,122]
l.sort()
l[-n:]

[435, 675, 887]

7. Write a Python program to print even numbers in a list?

In [123]:
l = [21,23,45,56,68,34,32]

for i in l:
  if i % 2 == 0:
    print(f"Even Number is: {i}")

Even Number is: 56
Even Number is: 68
Even Number is: 34
Even Number is: 32

8. Write a Python program to print odd numbers in a List?

In [124]:
l = [21,23,45,56,68,34,32]

for i in l:
  if i % 2 != 0:
    print(f"Odd Number is: {i}")

Odd Number is: 21
Odd Number is: 23
Odd Number is: 45

9. Write a Python program to Remove empty List from List?

In [1]:
# Initializing list
test_list = [5, 6, [], 3, [], [], 9]
 
# printing original list
print("The original list is : " + str(test_list))
 
# Remove empty List from List
# using list comprehension
res = [ele for ele in test_list if ele != []]
 
# printing result
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

10. Write a Python program to Cloning or Copying a list?

In [3]:
def Cloning(li1):
    li_copy = []
    li_copy.extend(li1)
    return li_copy
 
 
# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

11. Write a Python program to Count occurrences of an element in a list?

In [6]:
def find_ele(l , n): # l is list and n this a element
  count = 0 
  for i in l :
    if i == n :
      count = count +1 
  print(count)

In [7]:
find_ele([12,23,22,12,35,23,12,134,12] , 12)

4