Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [46]:
def filter_list(l):
  l1 = []
  for i in l:
    if type(i) == int:
      l1.append(i)
  print(l1)

print(filter_list(["anish" , "as" , 34,23,36,3,24,"man" , "ka"]))

[34, 23, 36, 3, 24]
None

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [47]:
def add_indexes(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index

In [48]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [49]:
import math
pi = math.pi
 
# calculate Volume of Cone
def cone_volume(h, r):
    return round((1 / 3) * pi * r * r * h)
 



height = float(15)
radius = float(6)

print( "Volume Of Cone : ", cone_volume(height, radius) )

Volume Of Cone :  565

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [52]:
def triangle(n):
    return n*(n+1)*0.5

n = int(input('Enter the triangle number :'))
print("The {}th triangle has {} dots ".format(n,int(triangle(n))))

Enter the triangle number :5
The 5th triangle has 15 dots

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [53]:
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_Of_list = sum(lst)
    return total - sum_Of_list

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))

5