Question 1
Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.
Examples
filter_list([1, 2, &quot;a&quot;, &quot;b&quot;]) ➞ [1, 2]
filter_list([1, &quot;a&quot;, &quot;b&quot;, 0, 15]) ➞ [1, 0, 15]
filter_list([1, 2, &quot;aasf&quot;, &quot;1&quot;, &quot;123&quot;, 123]) ➞ [1, 2, 123]

In [12]:
def filter_list(l):
  l1 = []
  for i in l:
    if type(i) == int:
      l1.append(i)
  print(l1)

print(filter_list(["anish" , 22,32,24,54,"manish" , "mukesh" , "ada" , 43,44]))

[22, 32, 24, 54, 43, 44]
None

The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
opposite case.
Examples
reverse(&quot;Hello World&quot;) ➞ &quot;DLROw OLLEh&quot;
reverse(&quot;ReVeRsE&quot;) ➞ &quot;eSrEvEr&quot;
reverse(&quot;Radar&quot;) ➞ &quot;RADAr&quot;

In [17]:
word = str(input("Enter Word: "))
reverse = (word[-1:0:-1])
reverse.swapcase()

Enter Word: AsjwhdhUNLMCk

'KcmlnuHDHWJS'

Question 3
You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]
print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6

In [27]:
list_1 = [1,2,3,4,5,6,7,8,9]
first = list_1[1]
middle = list_1[1:-1]
last = list_1[-1]
print(f"First :- {first}")
print(f"Middle :- {middle}")
print(f"Last :- {last}")

First :- 2
Middle :- [2, 3, 4, 5, 6, 7, 8]
Last :- 9

Write a function that calculates the factorial of a number recursively.

In [30]:
def factorial(n):     
    if n == 0:
        return 1    
    return n * factorial(n-1)

num = int(input('enter a number :'))
print("Factorial of", num, "is", factorial(num))

enter a number :5
Factorial of 5 is 120

Question 5
Write a function that moves all elements of one type to the end of the list.

In [31]:
def move_to_end(array, toMove):
     
    i = 0
 
    
    j = len(array) - 1
  
   
    while (i < j):
  
        while (i < j and array[j] == toMove):
  
           
            j-=1
  
        if (array[i] == toMove):
  
            # swap the two elements
            # in the array
            array[i], array[j] = array[j] , array[i]
  
       
        i += 1
  
    # return the result
    return array

In [32]:
arr = [7, 8, 9, 1, 2, 3, 4]
a = 9
ans = move_to_end(arr, a)
for i in range(len(arr)):
    print(ans[i] ,end= " ")

7 8 4 1 2 3 9

In [33]:
arr = ['a', 'a', 'a', 'b']
k = 'a'
ans = move_to_end(arr, k)
for i in range(len(arr)):
    print(ans[i] ,end= " ")

b a a a