Question1
Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]
amplify(3) ➞ [1, 2, 3]
amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]

In [90]:
def amplify(n):
    return [i*10 if i % 4 == 0 else i for i in range(1,n+1) ]

In [91]:
amplify(4)

[1, 2, 3, 40]

In [94]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

Question2
Create a function that takes a list of numbers and return the number that&#39;s unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7
unique([0, 0, 0.77, 0, 0]) ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

In [103]:
def unique(l):
  for i in l:
    if l.count(i) == 1:
      return i

In [104]:
unique([3, 3, 3, 7, 3, 3])

7

In [105]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.

In [112]:
class circle():
  def __init__(self, r):
    self.r = r
  def get_Area(self):
    return round(self.r**2*3.14)

  def get_Perimeter(self):
    return round(2*self.r*3.14)

In [120]:
orj_circle = circle(2.5)

In [121]:
orj_circle.get_Area()

20

In [122]:
orj_circle.get_Perimeter()

16

Question4
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]
sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]
sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

In [126]:
def sort_by_length(lst):
    return sorted(lst, key = len)

In [127]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

Question5
Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.

Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25
is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169
is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9

In [130]:
def is_triplet(a , b, c):
  if (a**2) + (b**2) == c**2 :
    return True
  else:
    return False

a = int(input("Enter Value A: "))
b = int(input("Enter Value B: "))
c = int(input("Enter Value c: "))

print(is_triplet(a , b , c))

Enter Value A: 3
Enter Value B: 4
Enter Value c: 5
True