Question1
Create a function that takes three integer arguments (a, b, c) and returns the amount of
integers which are of equal value.
Examples
equal(3, 4, 3) ➞ 2
equal(1, 1, 1) ➞ 3
equal(3, 4, 1) ➞ 0

In [132]:
def equal(a,b,c):
    num = 0
    if a == b and a == c :
        num = 3
    elif a == b or a == c :
        num = 2
    else:
        num = 0
    return num
equal(3, 4, 3)

2

Question2
Write a function that converts a dictionary into a list of keys-values tuples.
Examples
dict_to_list({
&quot;D&quot;: 1,
&quot;B&quot;: 2,
&quot;C&quot;: 3
}) ➞ [(&quot;B&quot;, 2), (&quot;C&quot;, 3), (&quot;D&quot;, 1)]
dict_to_list({
&quot;likes&quot;: 2,
&quot;dislikes&quot;: 3,
&quot;followers&quot;: 10
}) ➞ [(&quot;dislikes&quot;, 3), (&quot;followers&quot;, 10), (&quot;likes&quot;, 2)]

In [133]:
def dict_to_list(d):
    return list(d.items())

In [134]:
dict_to_list({
    'D': 1,
    'B': 2,
    'C': 3
    })

[('D', 1), ('B', 2), ('C', 3)]

Question3
Write a function that creates a dictionary with each (key, value) pair being the (lower case,
upper case) versions of a letter, respectively.

In [135]:
def mapping(lst):
    return {v.lower():v.upper() for v in lst}

In [136]:
mapping(['p', 's'])

{'p': 'P', 's': 'S'}

Question4
Write a function, that replaces all vowels in a string with a specified vowel.
Examples
vow_replace(&quot;apples and bananas&quot;, &quot;u&quot;) ➞ &quot;upplus und bununus&quot;
vow_replace(&quot;cheese casserole&quot;, &quot;o&quot;) ➞ &quot;chooso cossorolo&quot;
vow_replace(&quot;stuffed jalapeno poppers&quot;, &quot;e&quot;) ➞ &quot;steffed jelepene peppers&quot;

In [137]:
def vow_replace(s,ch):
    vowel ='AEIOUaeiuo'
    s1 = []
    for i in range(len(s)):
        if s[i] in vowel:
            s1.append(ch)
        else:
            s1.append(s[i])

    return ''.join((s1))

In [138]:
vow_replace('apples and bananas', 'u')

'upplus und bununus'

Question5
Create a function that takes a string as input and capitalizes a letter if its ASCII code is even
and returns its lower case version if its ASCII code is odd.

In [139]:
def ascii_capitalize(s):
    s1 = []
    for i in range(len(s)):
        if ord(s[i]) % 2 == 0:
            s1.append(s[i].upper())
        else:
            s1.append(s[i].lower())

    return "".join((s1))

In [140]:
ascii_capitalize('to be or not to be!')

'To Be oR NoT To Be!'